<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Changes Detector - Found Changes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        h1 {font-size: 26px; color: #ffffff !important; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; line-height: 1.5;}
        h2 {font-size: 16px; color: #444444 !important; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;}
        p {font-size: 16px; color: #ffffff; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; line-height: 1.5;}
        table { border: 1px solid #e4e4e4;}
        a {color: #ABCB33; text-decoration: none; font-weight: bold;}
        ul {padding-left: 20px;}
        .margin-left {margin-left: 15px;}
    </style>
</head>
<body>
<table width="50%" cellpadding="0" cellspacing="0">
    <tr bgcolor="5A5A5A">
        <td align="center">
            <h1>Page report</h1>
        </td>
    </tr>
    <tr>
        <td>
            <h2 class="margin-left">Found following changes:</h2>
            <ul>
                <th:block th:each="line : ${lines}">
                    <li th:text="${line}"></li>
                </th:block>
            </ul>
        </td>
    </tr>
    <tr bgcolor="5A5A5A">
        <td align="center">
            <p>Go now to: <a th:href="${url}" th:text="${url}"></a>
            </p>
        </td>
    </tr>
</table>
</body>
</html>